VITE_XLAYER_CHAIN_ID=1952
VITE_XLAYER_RPC_URL=https://xlayertestrpc.okx.com/terigon
VITE_XLAYER_EXPLORER_URL=https://www.okx.com/web3/explorer/xlayer-test
VITE_EVENT_DECISION_REGISTRY_ADDRESS=0x8EB68D8fc210e4dA44bb5f6248D102ff44Aa7647
